.THIS {

}
.THIS .custom{
    background-color: #fc4c04;
        color: #fdfdfd;
 
}
.THIS.slds-spinner_large.slds-spinner:before,
.THIS.slds-spinner_large .slds-spinner__dot-a:before,
.THIS.slds-spinner_large .slds-spinner__dot-b:before,
.THIS.slds-spinner--large.slds-spinner:before,
.THIS.slds-spinner--large .slds-spinner__dot-a:before,
.THIS.slds-spinner--large .slds-spinner__dot-b:before {
    animation-name: dotsBounceBefore-medium;
    top: -0.3125rem;
    left: -0.3125rem;
    background-color: #fc4c04;
}
.THIS.slds-spinner_large.slds-spinner:after,
.THIS.slds-spinner_large .slds-spinner__dot-a:after,
.THIS.slds-spinner_large .slds-spinner__dot-b:after,
.THIS.slds-spinner--large.slds-spinner:after,
.THIS.slds-spinner--large .slds-spinner__dot-a:after,
.THIS.slds-spinner--large .slds-spinner__dot-b:after{
    background-color: #fc4c04;
}