.THIS div.Message {

    color: #000000;
    
    font-size: 15px;
    
    font-family: Montserrat;

    font-weight : 700;

    background-color: #FFFFFF;

    width : 95% ;

    padding : 0px;

    margin : 0px 0px 0px 0px ;

    border-radius: 0px;

}

 

.THIS div.container {

   width:95%; 
    
   margin: 0px 00px 0px 00px;
    
   padding-top: 1cm; 
    
   font-weight: 300;
   
   font-size: 0.875em;
   
   font-family: LATO; 
    
    
     

}

.THIS div.header{

    width:100%;
    
    float: left;
    
    cursor : pointer;
    
    font-size: 1.10em;
    
    font-weight: 700;
    
    font-family: Montserrat;
    
    margin-bottom: 15.5px;

}
 

.THIS div.expandCollapse{

    cursor : pointer;

    width : 0%;      

    float : right;
    
   

}

.THIS div.hide{

    display:none;

}

.THIS div.show{

    display:block;

}

.THIS div.hr_line {    
   
   margin-top: -10.5px; 
   margin-bottom: -15.5px;   
   
}