<apex:component controller="httpController">

 <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
    <apex:actionStatus onstart="startLoading();" onstop="endLoading();" id="loadStatusWait"/>

    <style>
        .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
        }
        .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: center;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
 
    <div id="load_scrl" class="loadingBox2 loader" style="display:none"> </div>
    <div class="loadingBox2 overlay"> </div>
    
    <script type="text/javascript">
        $j = jQuery.noConflict();
        function startLoading(){
            $j('#load_scrl').css('top', $j(document).scrollTop() + 50);
            $j('.loadingBox2').show();
        }
        function endLoading(){
             $j('.loadingBox2').hide();
        }
    </script>
    
  <apex:attribute name="PageblockTitle" description="This is the title of the Deleganti section"   type="String" required="true" assignTo="{!blockTitle}"/>
 <apex:attribute name="Mode" description="Should be SENT or RECEIVED"   type="String" required="true" assignTo="{!callMode}"/>
	 <apex:attribute name="AccountVatCode" description="account vat code"   type="String" required="true" assignTo="{!vatCode}"/>
	  <apex:attribute name="AccountCF" description="account fiscal code "   type="String" required="true" assignTo="{!afiscalCode}"/> 
<!-- <c:loadingBox />  -->
<apex:form id="myComponentForm" >
    <apex:pageBlock title="{!blockTitle}" >
    	<apex:outputPanel rendered="{!showButton}">
      		  <apex:commandButton action="{!request}" value="Verifica Deleganti" rerender="myComponentForm" status="loadStatusWait" />
      		  <apex:pageMessages id="PageMessage"/>
      	</apex:outputPanel>
      	<apex:outputPanel rendered="{!!showButton}">
      		  	<apex:outputText value="Deleghe non visualizzabili, mancano Codice fiscale e/o partita iva dell'intestatario POD" />
      	</apex:outputPanel>
      <apex:outputPanel layout="block" style="overflow:auto;width:1000px;height:50%;margin-left:auto;margin-right:auto" rendered="{!Showtable}">
		  
			   <!--   <apex:repeat value="{!listOfDelegate}" var="delegate">
				    <apex:repeat value="{!delegate.listOfDelegateService}" var="service">
				    	<apex:pageBlockTable value="{!service}" var="w" id="clones">
						 			 <apex:column value="{!w.title}"/>
									 <apex:column value="{!w.summary}"/>
									 <apex:column value="{!w.serviceCode}"/>
						</apex:pageBlockTable>
			    	</apex:repeat>
			    </apex:repeat>-->
	 	<apex:pageBlockTable value="{!listOfDelegate}" var="w" id="clones" align="center">	
 			 <apex:column style="width:140px" title="Nome" value="{!w.nameOfService}">
                   <apex:facet name="header">Name</apex:facet>
             </apex:column>
			 <apex:column style="width:250px" title="Denominazione" value="{!w.delegateDenomination}">
 			     <apex:facet name="header">Denominazione</apex:facet>
 			 </apex:column>
			 <apex:column style="width:250px" title="Email" value="{!w.delegateEmail}">
			 	<apex:facet name="header">Email</apex:facet>
			 </apex:column>
			 <apex:column style="width:200px" title="CF/PIVA" value="{!w.delegatorCf_PIVA}">
                <apex:facet name="header">CF/P.IVA</apex:facet>
             </apex:column>      		 
		</apex:pageBlockTable>   
	    
				
		</apex:outputPanel>
		
		 <apex:outputPanel rendered="{!errorToDisplay}">
		 	<apex:outputText value="{!textToDisplay}" />
		 </apex:outputPanel>
    </apex:pageBlock>
    
    </apex:form>	
</apex:component>