<apex:component >

    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
    <apex:actionStatus onstart="startLoading();" onstop="endLoading();" id="loadStatus"/>

    <style>
        .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
        }
        .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
        }
    </style>
 
    <div id="load_scrl" class="loadingBox loader" style="display:none"> </div>
    <div class="loadingBox overlay"> </div>
    
    <script type="text/javascript">
        $j = jQuery.noConflict();
        function startLoading(){
            $j('#load_scrl').css('top', $j(document).scrollTop() + 50);
            $j('.loadingBox').show();
        }
        function endLoading(){
             $j('.loadingBox').hide();
        }
    </script>

</apex:component>