<apex:page standardController="CustomFields__c" extensions="CFRclass" sidebar="false" action="{!InitExistingRecord}">
    <apex:form >
        <apex:pageBlock title="Custom Field Information" id="pageBlock">
            <apex:pageMessages />
            <apex:inputHidden value="{!indexGen}" />
            <apex:outputPanel id="FieldTable">
          
                <apex:pageBlockTable value="{!Fieldlist}" var="a" id="parReRender">
                  
                    <apex:column headerValue="Delete">
                    <apex:commandLink action="{!deleteRow}"  reRender="pageBlock" immediate="true">
                    Del<apex:param name="delRow" value="{!a.index}" />
                    </apex:commandLink>
                    </apex:column>
            
                    <apex:column headerValue="Custom Object" >
                        <apex:outputField value="{!a.customSetting.Custom_Objects__c}" />
                    </apex:column>
                    
                   
                   
                  
                    <apex:column headerValue="Data Type">
                        <apex:inputField value="{!a.customSetting.Data_Type__c}" required="true">
                            <!-- <apex:actionSupport id="DataType" event="onchange" reRender="parReRender" oncomplete="alert('{!a.customSetting.Data_Type__c}');"/> -->
                            <apex:actionSupport id="DataType" event="onchange" reRender="parReRender" />
                        </apex:inputField>
                    </apex:column>
                    
                     
                    <apex:column headerValue="Field Label">
                    <apex:inputField value="{!a.customSetting.Field_Label__c}" required="true"/>
                    </apex:column>
                    
                     <apex:column headerValue="Field Name">
                    <apex:inputField value="{!a.customSetting.Field_Name__c}" required="true"/>
                    </apex:column>
                    <apex:column headerValue="DATA TYPE DETAILS" id="DataTypeTableBlockColumn">
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Checkbox',True,False)}">
                              <apex:inputField value="{!a.customSetting.Default_Checked__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Currency',True,False)}">
                              <apex:inputField value="{!a.customSetting.Length__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Decimal_Places__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection>
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Date',True,False)}">
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Date/Time',True,False)}">
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Email',True,False)}">
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.External_ID__c}"/>
                              <apex:inputField value="{!a.customSetting.Unique__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Number',True,False)}">
                              <apex:inputField value="{!a.customSetting.Length__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Decimal_Places__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.External_ID__c}"/>
                              <apex:inputField value="{!a.customSetting.Unique__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Percent',True,False)}">
                              <apex:inputField value="{!a.customSetting.Length__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Decimal_Places__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection>
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Phone',True,False)}">
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Picklist',True,False)}">
                              <apex:inputField value="{!a.customSetting.Picklist_Values__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Sort__c}"/>
                              <apex:inputField value="{!a.customSetting.First_Value_Default__c}"/>
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Picklist Multiselect',True,False)}">
                              <apex:inputField value="{!a.customSetting.Picklist_Values__c}" required="True"/>
                              <apex:inputField value="{!a.customSetting.Sort__c}"/>
                              <apex:inputField value="{!a.customSetting.First_Value_Default__c}"/>
                              <apex:inputField id="vl" value="{!a.customSetting.Visible_Lines__c}" onchange="javascript: checkVisibleLines('{!a.customSetting.Data_Type__c}',this.value); "  /> 
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Text',True,False)}">
                              <apex:inputField value="{!a.customSetting.Length__c}" onchange="javascript: checkLength('{!a.customSetting.Data_Type__c}',this.value); " />
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.External_ID__c}"/>
                              <apex:inputField value="{!a.customSetting.Unique__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Text Area',True,False)}">
                             <!-- <apex:inputField value="{!a.customSetting.Length__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                            <!--  <apex:inputField value="{!a.customSetting.External_ID__c}"/>-->
                            <!--  <apex:inputField value="{!a.customSetting.Unique__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Text Area Long',True,False)}">
                              <apex:inputField value="{!a.customSetting.Length__c}" onchange="javascript: checkLength('{!a.customSetting.Data_Type__c}',this.value); " />
                              <apex:inputField value="{!a.customSetting.Visible_Lines__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='Text Area Rich',True,False)}">
                              <apex:inputField value="{!a.customSetting.Length__c}" onchange="javascript: checkLength('{!a.customSetting.Data_Type__c}',this.value); " />
                              <apex:inputField id="vl" value="{!a.customSetting.Visible_Lines__c}" onchange="javascript: checkVisibleLines('{!a.customSetting.Data_Type__c}',this.value); " />
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                              <apex:pageBlockSection rendered="{!if (a.customSetting.Data_Type__c=='URL',True,False)}">
                              <apex:inputField value="{!a.customSetting.Required__c}"/>
                              <!--<apex:inputField value="{!a.customSetting.Default_Value__c}"/>-->
                              <apex:inputField value="{!a.customSetting.Description__c}"/>
                              <apex:inputField value="{!a.customSetting.Help_Text__c}"/>
                              </apex:pageBlockSection> 
                          
                    </apex:column>
                    
                    
                                    
                                       
                    <apex:column headerValue="Enable History">
                        <apex:inputField value="{!a.customSetting.Enable_History__c}" />
                    </apex:column>
        
                    <apex:column headerValue="Req.Ref#" >
                        <apex:inputField value="{!a.customSetting.Refrence_No__c}" />
                    </apex:column>
                    
                    
           </apex:pageblocktable> 
    </apex:outputPanel>
                   <apex:pageBlockButtons >
                    <apex:outputLabel for="numRows">No. Of Rows </apex:outputLabel>
                    <apex:inputText id="numRows" value="{!numRows}" maxlength="2" size="2" />
                    <apex:commandButton value="Add Records" action="{!addNewRecord}" reRender="pageBlock"/>
                    <apex:commandButton value="Save" action="{!save}"/>
                    <apex:commandButton action="{!clear}" value="Clear All"  reRender="pageBlock" />
                    <apex:commandButton action="{!cancel}" value="Cancel" />
                    </apex:pageBlockButtons>
    </apex:pageBlock>
    <script>
        function checkVisibleLines(val1,val2)
        {
         if(val1=='Picklist Multiselect')
         {
          if(val2 < 3)
          {
              alert("Enter value Greater than 3");
              vl.focus();
              
             }
          } 
          if(val1=='Text Area Rich')
          {
            if(val2 < 10)
            {
              alert("Enter a value Greater than 10");
             vl.focus();
             }
            } 
          }
          
          
          
           function checkLength(val1,val2)
        {
         if(val1=='Text')
         {
          if(val2 >= 256)
          {
              alert("Enter value Lesser than 255");
              vl.focus();
              
             }
          } 
          if(val1=='Text Area Long')
          {
            if(val2 <= 256 || val2 >= 32768)
            {
              alert("Enter a value between 256 and 32768");
             vl.focus();
             }
            } 
           if(val1=='Text Area Rich')
          {
            if(val2 <= 256 || val2 >= 32768)
            {
              alert("Enter a value between 256 and 32768");
             vl.focus();
             }
            }   
          }
       
    </script>
                
    
</apex:form>
</apex:page>