<apex:page standardController="Trigger__c" extensions="Triggerclass" sidebar="false" tabstyle="CustomObjects__c">
 <style type="text/css">
        .blur { font-style:italic; color:#C0C0C0;}
        .focus { font-style:normal;}
    </style>

<apex:form >
    <apex:pageBlock title="Trigger information"  id="TriggerTable">
      <apex:pageMessages />
      <apex:inputhidden value="{!indexGen}" />
                        <apex:pageBlockTable value="{!Triggerlist}" var="a">
                        <apex:column headerValue="Delete">
                            <apex:commandLink action="{!deleteRow}" reRender="TriggerTable" immediate="true">
                            Del <apex:param name="delRow" value="{!a.index}" />
                            </apex:commandLink>
                        </apex:column>
                        
                         <apex:column headerValue="Custom Object" >
                            <apex:outputField value="{!a.Triggersetting.Custom_Object__c}"  />
                        </apex:column>
                        
                        <apex:column headerValue="Name" >
                            <apex:inputField value="{!a.Triggersetting.Name__c}" />
                        </apex:column>
         
                        <apex:column headerValue="Function" >
                            <apex:inputField value="{!a.Triggersetting.Function__c}" />
                        </apex:column>
                        
                        <apex:column headerValue="Code" >
                            <apex:inputField value="{!a.Triggersetting.Code__c}"/>
                        </apex:column>

                        
                        <apex:column headerValue="Active" >
                            <apex:inputField value="{!a.Triggersetting.Active__c}" />
                        </apex:column>
                   
                        
                        <apex:column headerValue="Req.Ref#" >
                            <apex:inputField value="{!a.Triggersetting.Requirment_no__c}" />
                        </apex:column>
                        
 
            </apex:pageblocktable> 

            <apex:pageBlockButtons >  
                  <apex:outputLabel for="numRows">No. Of Rows</apex:outputLabel>
                  <apex:inputText id="numRows" value="{!numRows}" maxlength="2" size="2" />
                  <apex:commandButton value="Add Records" action="{!addNewRecord}" reRender="TriggerTable"/>
                  <apex:commandButton value="Save" action="{!save}"/>
                  <apex:commandButton action="{!clear}" value="Clear All" />
                  <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
    </apex:pageBlock>
</apex:form>
</apex:page>